################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator2/bin/Debug
/Calculator2/obj/Debug
